VITE_FIREBASE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_FIREBASE_AUTH_DOMAIN=xxxxxxxxxxxxxx
VITE_FIREBASE_PROJECT_ID=xxxxxxxxxx
VITE_FIREBASE_STORAGE_BUCKET=xxxxxxxxxxxx
VITE_FIREBASE_MESSAGING_SENDER_ID=xxxxxxxxxxx
VITE_FIREBASE_APP_ID=xxxxxxxxxxxxxxxx
VITE_FIREBASE_MEASUREMENT_ID=xxxxxxxxxxxxx